/.idea/.idea.BackEnd-ApiTech/.idea/.gitignore
/.idea/.idea.BackEnd-ApiTech/.idea/.name
/BackEnd-ApiTech/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/BackEnd-ApiTech/obj/Debug/net7.0/apphost.exe
/BackEnd-ApiTech/bin/Debug/net7.0/appsettings.Development.json
/BackEnd-ApiTech/bin/Debug/net7.0/appsettings.json
/BackEnd-ApiTech/bin/Debug/net7.0/AutoMapper.dll
/BackEnd-ApiTech/bin/Debug/net7.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.AssemblyInfo.cs
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.AssemblyInfoInputs.cache
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.assets.cache
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.csproj.AssemblyReference.cache
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.csproj.CopyComplete
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.csproj.CoreCompileInputs.cache
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.csproj.FileListAbsolute.txt
/BackEnd-ApiTech/obj/BackEnd-ApiTech.csproj.nuget.dgspec.json
/BackEnd-ApiTech/obj/BackEnd-ApiTech.csproj.nuget.g.props
/BackEnd-ApiTech/obj/BackEnd-ApiTech.csproj.nuget.g.targets
/BackEnd-ApiTech/bin/Debug/net7.0/BackEnd-ApiTech.deps.json
/BackEnd-ApiTech/bin/Debug/net7.0/BackEnd-ApiTech.dll
/BackEnd-ApiTech/obj/Debug/net7.0/ref/BackEnd-ApiTech.dll
/BackEnd-ApiTech/obj/Debug/net7.0/refint/BackEnd-ApiTech.dll
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.dll
/BackEnd-ApiTech/bin/Debug/net7.0/BackEnd-ApiTech.exe
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.GeneratedMSBuildEditorConfig.editorconfig
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.genruntimeconfig.cache
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.GlobalUsings.g.cs
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.MvcApplicationPartsAssemblyInfo.cache
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.MvcApplicationPartsAssemblyInfo.cs
/BackEnd-ApiTech/bin/Debug/net7.0/BackEnd-ApiTech.pdb
/BackEnd-ApiTech/obj/Debug/net7.0/BackEnd-ApiTech.pdb
/BackEnd-ApiTech/bin/Debug/net7.0/BackEnd-ApiTech.runtimeconfig.json
/BackEnd-ApiTech/bin/Debug/net7.0/BCrypt.Net-Next.dll
/BackEnd-ApiTech/bin/Debug/net7.0/BouncyCastle.Cryptography.dll
/BackEnd-ApiTech/bin/Debug/net7.0/runtimes/win-x64/native/comerr64.dll
/.idea/.idea.BackEnd-ApiTech/.idea/encodings.xml
/BackEnd-ApiTech/bin/Debug/net7.0/Google.Protobuf.dll
/BackEnd-ApiTech/bin/Debug/net7.0/runtimes/win-x64/native/gssapi64.dll
/.idea/.idea.BackEnd-ApiTech/.idea/indexLayout.xml
/BackEnd-ApiTech/bin/Debug/net7.0/K4os.Compression.LZ4.dll
/BackEnd-ApiTech/bin/Debug/net7.0/K4os.Compression.LZ4.Streams.dll
/BackEnd-ApiTech/bin/Debug/net7.0/K4os.Hash.xxHash.dll
/BackEnd-ApiTech/bin/Debug/net7.0/runtimes/win-x64/native/k5sprt64.dll
/BackEnd-ApiTech/bin/Debug/net7.0/runtimes/win-x64/native/krb5_64.dll
/BackEnd-ApiTech/bin/Debug/net7.0/runtimes/win-x64/native/krbcc64.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.AspNetCore.OpenApi.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.Design.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.EntityFrameworkCore.Relational.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.Extensions.Caching.Abstractions.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.Extensions.Caching.Memory.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.Extensions.Configuration.Abstractions.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.Extensions.DependencyInjection.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.Extensions.Logging.Abstractions.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.Extensions.Logging.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.Extensions.Options.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.Extensions.Primitives.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.IdentityModel.JsonWebTokens.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.IdentityModel.Logging.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.IdentityModel.Tokens.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.OpenApi.dll
/BackEnd-ApiTech/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Microsoft.Win32.SystemEvents.dll
/BackEnd-ApiTech/obj/Debug/net7.0/staticwebassets/msbuild.build.BackEnd-ApiTech.props
/BackEnd-ApiTech/obj/Debug/net7.0/staticwebassets/msbuild.buildMultiTargeting.BackEnd-ApiTech.props
/BackEnd-ApiTech/obj/Debug/net7.0/staticwebassets/msbuild.buildTransitive.BackEnd-ApiTech.props
/BackEnd-ApiTech/bin/Debug/net7.0/MySql.Data.dll
/BackEnd-ApiTech/bin/Debug/net7.0/MySql.EntityFrameworkCore.dll
/BackEnd-ApiTech/obj/project.assets.json
/BackEnd-ApiTech/obj/project.nuget.cache
/BackEnd-ApiTech/obj/project.packagespec.json
/BackEnd-ApiTech/.idea/.idea.BackEnd-ApiTech/.idea/projectSettingsUpdater.xml
/BackEnd-ApiTech/obj/rider.project.model.nuget.info
/BackEnd-ApiTech/obj/rider.project.restore.info
/BackEnd-ApiTech/obj/Debug/net7.0/staticwebassets.build.json
/BackEnd-ApiTech/bin/Debug/net7.0/Swashbuckle.AspNetCore.Annotations.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Swashbuckle.AspNetCore.Swagger.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/BackEnd-ApiTech/bin/Debug/net7.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/BackEnd-ApiTech/bin/Debug/net7.0/System.Configuration.ConfigurationManager.dll
/BackEnd-ApiTech/bin/Debug/net7.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
/BackEnd-ApiTech/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
/BackEnd-ApiTech/bin/Debug/net7.0/System.Drawing.Common.dll
/BackEnd-ApiTech/bin/Debug/net7.0/System.IdentityModel.Tokens.Jwt.dll
/BackEnd-ApiTech/bin/Debug/net7.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
/BackEnd-ApiTech/bin/Debug/net7.0/System.Security.Cryptography.ProtectedData.dll
/BackEnd-ApiTech/bin/Debug/net7.0/System.Security.Permissions.dll
/BackEnd-ApiTech/bin/Debug/net7.0/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
/BackEnd-ApiTech/bin/Debug/net7.0/System.Windows.Extensions.dll
/.idea/.idea.BackEnd-ApiTech/.idea/vcs.xml
/BackEnd-ApiTech/.idea/.idea.BackEnd-ApiTech/.idea/workspace.xml
/BackEnd-ApiTech/bin/Debug/net7.0/ZstdSharp.dll
